<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Programming courses++</title>
</head>
<body>
    <div id="user_info">
        {% block user_info %}
        {% if student %}
            <h1>Hello {{ student.username }}!</h1>
            <div>
                <span>Your language: {{ student.language }}</span></br>
                <span>Your course: {{ student.course.name }}</span></br>
                <span>Your grade: {{ student.grade }}</span>
            </div>
        {% endif %}
        {% endblock user_info%}
    </div>
    <div id="content">
        {% block content %}{% endblock content%}
    </div>
    </br></br></br>
    <div id="menubar">
        {% block menu %}
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'select_course' %}">Course selection</a></li>
            <li><a href="{% url 'get_grade' %}">Get grade</a></li>
        </ul>
        {% endblock menu%}
    </div>
</body>
</html>