{% extends "base.html" %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<title>Programming courses</title>
{% if courses and not error_message and not student.course %}
  <h3>Courses registration</h3>
  <form action="/diary/select_course/" method="POST">
      <fieldset><legend>Select a course:</legend>
        {% for course in courses %}
        <div>
          <input type="radio" id="couse_{{course.id}}" name="course" value="{{course.id}}">
          <label for="course_{{course.id}}">{{course.name}}</label>
        </div>
        {% endfor %}
      </fieldset>
      <div>
      <button type="submit">Submit</button>
      </div>
  </form>
{% elif student and not error_message and student.course %}
  <h1>You selected course: {{ student.course.name }}</h1>
{% elif not student %}
  <h1>You are not authorized. Please <a href="/login">Login</a> to access course selection!</h1>
{% endif %}
{% endblock %}